
* {
   box-sizing: border-box;

 }
 

 body {
   margin: 0;
   font-family: Arial;
   background-color: rgb(192, 226, 255);

 }

#head,#logo,#myTab {
     width: 100%;
}

.instruction,h2, p {
   justify-content: center;
   font-weight: bold; 
   align-content: center;
     
}


.row,.col-10{
   display: flex;
   padding: 5px;
   align-content: center;
   justify-content: center;   
}


input[type=checkbox] {
display: none;
}

.image {

transition: transform 0.25s ease;
cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > .image {
/* transform: scale(2,2); */
cursor: zoom-out;
}

